@import "../../../Styles/abstracts/variables";
@import "../../../Styles/components/_buttons";

// ============== 카테고리 버튼 =====================
.btn-category {
  // 버튼 믹스인사용
  @include btn(
    $bg-color: $color-gray,
    $font-size: $--filter-header,
    $padding: 8px,
    $border: none,
    $width: 90%
  );
  letter-spacing: 0.4px;
  text-transform: capitalize;
  margin-top: 20px;
  font-weight: 500;
  border-bottom: 1px solid $color-light-gray;
}
// ================ 서브메뉴 ===================
.category-submenu {
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in;
  &.open {
    max-height: 500px;
  }
  .btn-submenu {
    @include btn(
      $bg-color: $color-gray,
      $font-size: $--filter-submenu,
      $padding: 8px,
      $border: none,
      $width: 100%,
      $hover-bg: #f0f0f0,
      $transition: all 0.3s ease
    );
    margin-top: 10px;
    font-weight: 300;
  }
}
