@import "../../../Styles/components/_buttons";
@import "../../../Styles/abstracts/variables";

.btn-emoji-bg {
  @include btn(
    $bg-color: $color-white,
    $padding: 10px,
    $border: 2px solid transparent,
    $border-radius: 15px,
    $box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    $hover-bg: #f0f0f0,
    $transition: all 0.3s ease,
    $flex: false // flex 스타일을 적용하지 않을 때
  );
  position: relative;

  .emoji-item {
    display: flex;
    align-items: center;
    justify-content: center;
    .liked {
      position: absolute;
      bottom: 0px;
      right: 0px;
      font-size: 1.4rem;
    }
  }
}

// 이모지 복사시 툴팁
.copy-message {
  z-index: 999;
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  white-space: nowrap;
  animation: fadeOut 1.5s ease-out forwards;
}

// 복사 완료시 애니메이션
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.heart-icon {
  border: none; /* 테두리 없애기 */
  transition: color 0.5s ease;
}
