@import "../../../Styles/button.scss";

// 이모지 배경
.emoji-background {
  @extend .button-style-content;
  position: relative;
  // 개별 이모지
  .emoji-item {
    display: flex;
    align-items: center;
    justify-content: center;
    // 좋아요 버튼
    .like-btn {
      position: absolute;
      bottom: 0px;
      right: 0px;
      font-size: 1.4rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
}
