// 이모지 배경
.emoji-background {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 1px 3px #1311111a, 0 1px 2px #0000000f;
  border: 2px solid transparent;
  padding: 10px 0px;
  position: relative;
  // 개별 이모지
  .emoji-item {
    display: flex;
    align-items: center;
    justify-content: center;
    // 좋아요 버튼 
    .like-btn {
      position: absolute;
      bottom: 0px;
      right: 0px;
      font-size: 1.4rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
}
