.pagination {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.pagination-info {
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  gap: 0.1rem;
}

.pagination-info__current {
  font-weight: 700;
}

.pagination-info__separator {
  opacity: 0.6; /* 덜 강조 */
}

.pagination-info__total {
  opacity: 0.6;
}
