@import "../../../Styles/variables";

.emoji-search-container {
  padding: 20px;
  margin-left: 20px;
  .search-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    // 돋보기 아이콘
    .search-icon {
      margin-right: 10px; // 아이콘과 인풋 사이 간격 조정
      margin-left: 10px;
      font-size: 1.2rem;
    }

    input[type="text"] {
      border: none;
      outline: none;
      font-size: 14px;
      padding: 6px;
      width: 100%;
      background-color: white;
    }
  }
}
