// =========== Colors =================================
$color-black: #000000;
$color-dark-gray: #333333;
$color-medium-gray: #666666;
$color-light-gray: #999999;
$color-gray: #fbfbfb;
$color-white: #ffffff;

$color-mid-gray: mix($color-light-gray, $color-gray, 50%);

// ========= Font-Style ================================
$--filter-header: 20px;
$--filter-submenu: 16px;
