@import "../../../Styles/variables";
@import "../../../Styles/button.scss";

.filter-button-container {
  width: 90%;
  grid-row: 1fr;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    @extend .button-style-content;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    p {
      margin-left: 10px;
    }
    &:hover {
    }
  }
}
