// 메인 컨테이너 (사이드바 + 이모지 리스트)
.main-container {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1000px;
  padding-top: 100px; /* 헤더의 높이만큼 패딩 추가 */
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr;
  height: 1200px;
}

.emoji-section {
  padding: 20px;
  border-right: 2px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 100%;
  overflow-y: hidden;
}
