@import "../../Styles/variables";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: $color-grey;
  border-bottom: $line-color;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    color: white;
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(255, 0, 138, 1) 0%,
      rgba(0, 185, 255, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
