@import "../../../Styles/components/buttons";
@import "../../../Styles/abstracts/variables";

.btn-pagination {
  @include btn(
    $bg-color: $color-white,
    $font-size: 1rem,
    $padding: 15px,
    $border: none,
    $border-radius: 4px,
    $box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  );
  justify-content: center;
}
