@import "../../../Styles/variables";

// 이모지 컨테이너
.emoji-container {
  background-color: $color-grey;
  border-right: $line-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: hidden;
}
