@import "../../../Styles/variables";

// 이모지 컨테이너
.emoji-container {
  background-color: $color-grey;
  border-right: $line-color;
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  align-items: center;
  justify-items: center;
  overflow-y: hidden;
}
