:root {
  // 로고 색상
  --color-logo: #3b82f6;
  // Copy 버튼 색상
  --color-button: #0096ff;
  /* 메인 색상 */
  --color-white: #fff; /* 기본 흰색 */
  /* 배경 색상 */
  --color-background: #f8f8f8; /* 라이트 그레이 배경 */
  /* 텍스트 색상 */
  --color-text-primary: #333; /* 다크 그레이 기본 텍스트 */
  /* 호버 색상 */
  --color-emoji-hover: #f0f0f0; /* 이모지,사이드바 호버시 색상 */
  /* 하트 아이콘 색상 */
  --color-heart-default: #f8f8f8; /* 기본 회색 하트 */
  --color-heart-filled: #e53935; /* 채워진 빨간 하트 */
}
