:root {
  // Copy 버튼 색상
  $color-default: #fff; /* 기본 흰색 */
  $color-button-copy: #0096ff;
  $color-white: #fff; /* 기본 흰색 */
  $color-background: #f8f8f8; /* 라이트 그레이 배경 */
  $color-text-primary: #333; /* 다크 그레이 기본 텍스트 */
  $color-emoji-hover: #f0f0f0; /* 이모지,사이드바 호버시 색상 */
  $color-heart-default: #f8f8f8; /* 기본 회색 하트 */
  $color-heart-filled: #e53935; /* 채워진 빨간 하트 */
}
