@import "../../Styles/variables";

.sidebar-container {
  grid-column: 2fr;
  background-color: white;
  border-right: $line-color;
  border-left: $line-color;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .sidebar-name {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
