@import "../../Styles/abstracts/variables";

// 사이드바 
.sidebar-container {
  background-color: $color-gray;
  border-right: 1px solid $color-mid-gray;
  border-left: 1px solid $color-mid-gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
