// 카테고리
@import "../../Styles/button.scss";

.sidebar-category {
  margin-top: 20px;
  width: 90%;
  button {
    @extend .button-style-sidebar;
    font-weight: 600;
    border-bottom: 2.3px solid black;
  }
}

// 하위메뉴
.category-submenu {
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  max-height: 0; // 기본 높이는 0으로 설정
  transition: max-height 0.5s ease; // 애니메이션 효과 추가

  &.open {
    // open 일떄 height 지정 
    max-height: 500px; 
  }

  button {
    margin-top: 7px;
    @extend .button-style-sidebar;
    font-weight: 200;
    p {
      font-size: 1.3rem;
    }
  }
}
